<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Курсовая_работа_1.Properties.Settings.Параметр" connectionString="Data Source=WINDOWS_X\SQLEXPRESS;Initial Catalog=db_registr;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>